html {
   background: url(../images/monkey.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: transparent;
}

.mailer {
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: rgba(221, 221, 221, 0.5);
   border-radius: 25px;
}

button:focus {
   outline: 0;
}

.jumbotron {
   background-color: transparent;
}

.bg {
   background: #e6e6e6;
   opacity: 0.1;
   border-radius: 20px;
}

.initialHide {
   display: none;
}

.togButton {
   border-radius: 25px;
   width: 100px;
   height: 100px;
}
.sendButton{
	border-radius: 15px;
}

.mt50 {
   margin-top: 50px;
}

.mt20 {
   margin-top: 20px;
}

.mr20 {
   margin-right: 20px;
}

.bigIcon {
   font-size: 50px;
}

h1 {
   font-family: 'Bangers', cursize;
}
